body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vl__favicon {
  width: 14%;
  margin-bottom: 20px;
}

.vl__profile-picture {
  position: relative;
  width: 110px;
  height: 110px;
  margin-bottom: 25px;
  border-radius: 100px;
}

.vl__profile-picture>img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--color-primary);
  border-radius: 100px;
  object-fit: cover;
}

.vl__profile-picture button {
  position: absolute;
  right: -10px;
  bottom: 0;
  display: flex;
  padding: 5px;
  border: 3px solid var(--color-primary);
  border-radius: 100px;
  background: rgba(238, 238, 238, 0.1);
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: backdrop-filter 0.15s;
}

.vl__options {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.vl__options h1 {
  font-size: 1.3rem;
}

.vl__options input {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 8px;
  background: rgba(238, 238, 238, 0.1);
  backdrop-filter: blur(10px);
  color: var(--color-primary);
  outline: 1px solid rgba(238, 238, 238, 0.2);
  caret-color: var(--color-primary);
  transition: outline 0.15s ease-out;
}

.vl__options>input {
  margin-top: 10px;
}

.vl__options input::placeholder {
  color: rgba(238, 238, 238, 0.5);
}

.vl__options input::selection {
  background: var(--color-primary);
  color: black;
}

.vl__password {
  width: 100%;
  position: relative;
}

.vl__password input {
  padding-right: 45px;
}

.vl__password button {
  height: 50%;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: none;
  border: none;
  border-radius: 100px;
  background: none;
  cursor: pointer;
}

.vl__password input:not(:placeholder-shown)+button {
  display: flex;
}

.vl__button-proceed {
  opacity: 0.4;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 16px;
  border: none;
  border-radius: 100px;
  background: #d4d4d4;
  cursor: not-allowed;
  transition: opacity 0.15s, background 0.15s;
}

.vl__button-proceed span {
  font-size: 0.95rem;
  font-weight: 700;
}

.vl__proceed-loader {
  display: none;
  width: 20px;
  height: 20px;
  border: 3px solid black;
  border-top-color: transparent;
  border-radius: 100px;
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg)
  }
}

.vl__options p:last-of-type {
  font-size: 0.9rem;
  color: #8fa3b8;
}

.vl__code-message {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  font-size: 0.9rem;
}

.vl__code-message p {
  color: #8fa3b8;
}

.vl__code-message span {
  font-weight: 600;
}

.vl__options:has(input[type='email']:valid):has(.vl__password input:valid) .vl__button-proceed {
  opacity: 1;
  cursor: pointer;
}

.vl__options:has(input[type='email']:valid) .vl__button-proceed.get-code {
  opacity: 1;
  cursor: pointer;
}

.vl__options:has(input[inputmode='numeric']:valid) .vl__button-proceed.verify-code {
  opacity: 1;
  cursor: pointer;
}

.vl__options:has(.vl__display-name:valid):has(.vl__password input:valid) .vl__button-proceed.create-account {
  opacity: 1;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .vl__profile-picture button:hover {
    backdrop-filter: blur(3px);
  }

  .vl__options input:hover {
    outline-color: rgba(238, 238, 238, 0.5);
  }

  .vl__options:has(input[type='email']:valid):has(.vl__password input:valid) .vl__button-proceed:hover {
    background: #bebebe;
  }

  .vl__options:has(input[type='email']:valid) .vl__button-proceed.get-code:hover {
    background: #bebebe;
  }

  .vl__options:has(input[inputmode='numeric']:valid) .vl__button-proceed.verify-code:hover {
    background: #bebebe;
  }
}

.vl__options input:focus {
  outline: 2px solid rgba(238, 238, 238, 1);
  transition: none;
}

.vl__options:has(input[type='email']:valid):has(.vl__password input:valid) .vl__button-proceed:active {
  background: #a8a8a8;
}

.vl__options:has(input[type='email']:valid) .vl__button-proceed.get-code:active {
  background: #a8a8a8;
}

.vl__options:has(input[inputmode='numeric']:valid) .vl__button-proceed.verify-code:active {
  background: #a8a8a8;
}

.vl__error {
  opacity: 0;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  color: violet;
  transition: opacity 0.15s;
}

.vl__error:not(:empty) {
  opacity: 1;
}

@media (max-width: 425px) {
  main {
    width: 100%;
  }
}