@import url(global.css);

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px 5px;
  background: rgba(76, 37, 44, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.vl__user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 1.1rem;
  font-weight: 600;
}

.vl__user-profile img {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  object-fit: cover;
}

.vl__chat-options {
  display: flex;
}

.vl__chat-options button {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  transition: transform 0.15s;
}

.vl__chat-options button img {
  height: 100%;
}

.vl__chat {
  flex: 1;
}

.vl__message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 15px 20px;
  padding-inline: 10px;
  gap: 10px;
  border: 1px solid rgba(238, 238, 238, 0.1);
  border-radius: 100px;
  background: rgba(76, 37, 44, 0.5);
  backdrop-filter: blur(10px);
}

textarea {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 1.5;
  caret-color: var(--color-primary);
  color: var(--color-primary);
}

.vl__message-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.vl__message button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  transition: transform 0.15s;
}

.vl__message>button:last-child {
  width: 50px;
  height: 80%;
  display: none;
  background: #ffc0cb;
  border-radius: 100px;
  padding-left: 3px;
}

.vl__message button img,
.vl__message button svg {
  height: 90%;
}

.vl__message>button:last-child svg {
  color: #5c2d3a;
}

.vl__message:has(textarea:not(:placeholder-shown)) .vl__message-more {
  display: none;
}

.vl__message:has(textarea:not(:placeholder-shown))>button:last-child {
  display: flex;
}

.vl__message:has(textarea:not(:placeholder-shown)) {
  padding-right: 5px;
}

@media (hover:hover) and (pointer:fine) {
  button:hover {
    transform: scale(1.05);
  }
}

button:active {
  transform: scale(0.95);
}

@media (max-width: 425px) {
  header {
    height: 60px;
  }

  .vl__user-profile {
    font-size: 0.95rem;
  }

  .vl__user-profile img {
    width: 35px;
    height: 35px;
  }

  .vl__chat-options button {
    width: 40px;
    height: 25px;
  }

  .vl__message {
    height: 50px;
    margin: 10px;
  }
}